<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Drop and re-create the database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sms?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
<!--        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->

        <!-- MySQL DB dialect, this doesn't need to be specified in current hibernate version -->
<!--        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->

        <!-- print all executed SQL on console -->
        <property name="hibernate.show_sql" >false</property>
        <property name="hibernate.format_sql" >false</property>

        <!--   Mapping entity file -->
        <mapping class="jpa.entitymodels.Course"/>
        <mapping class="jpa.entitymodels.Student"/>

    </session-factory>
</hibernate-configuration>